*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.aboutus{
   padding: 50px;
    background-color: #F4F4F4;   
}
div {
    box-sizing: border-box;
   border:#ddd solid 2px ;
   background-color:#F9F9F9  ;
    border-radius: 8px;
   color: #333;
   width: 200px;
   margin: auto;
   margin-top: 10px;
   padding: 10px;
    
}
.footer{
    background-color:#FF6347 ;
    color: white;
    margin-top: 20px;
}
img {
    border-radius: 6px;
}
